body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 70%;
  background: #fff;
  margin: 16px auto;
}

.title, .content, .button {
  padding: 16px;
  margin: 0;
  border: 10px solid #fff;
}

.title {
  background: #e3f4ff;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.button {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px 8px 24px;
  margin: 0 auto;
}